main{
    font-family: cursive;
}


.test{
    margin-top: 5px;
    margin-left: 0px;
}


.sect{
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2 );
    
}



#top{
    display: flex;
    /* border: 1px solid red; */
    height: 100px;
    justify-content:center;
}

#bot{
    display: flex;
    /* border: 1px solid blue; */
    height: 200px;
    align-items: center;
}

#selectFont{
    margin-top: 5px;
    outline: none;
}

select{
    outline: none;
    
}

textarea{
    border: none;
    resize: none;
    outline: none;
    font-size: 14px;
    
    
}

.arial{
    font-family: Arial;
}

.helvetica{
    font-family: Helvetica;
}

.impact{
    font-family: Impact;
}
.futura{
    font-family: Georgia;
}

.NewRoman{
    font-family: 'Times New Roman';
}


#selectSize{
    margin-top: 5px;
}

.eleven{
    font-size: 11px;
}

.twelve{
    font-size: 12px;
}

.thirteen{
    font-size: 13px;
}

.fourteen{
    font-size: 14px;
}

.fifteen{
    font-size: 15px;
}

.sixteen{
    font-size: 16px;
}

.seventeen{
    font-size: 17px;
}

.eighteen{
    font-size: 18px;
}

.nineteen{
    font-size: 19px;
}

.twenty{
    font-size: 20px;
}

.twentyone{
    font-size: 21px;
}

.eleven{
    font-size: 11px;
}


.clr{
    width: 30px;
    height: 30px;
}
